p Hi! Thank you for your curiosity.
p I'm a ukrainian who uses this way to share the word about my country, the war that Russia started
    | against my Homeland.
p Some people think that the war started in 2022. It's not true. It started with the annexation of Crimea
    | (started on 20.02.2014, i.e. more than 8 years ago). For more details you can check a wikipedia page
    | about
    | #[a(href='https://en.wikipedia.org/wiki/Russo-Ukrainian_War') The Russo-Ukrainian war]
p It's easy to say “Putin invaded Ukraine”. But the truth is: The whole Russia, not “Putin” alone invaded.
    | Country that has 140M of population, and at least 2M of them work hard almost every day to kill more
    | ukrainians and achieve Russia's goal: destroy Ukraine and the whole Ukrainian nation. Putin, as any other
    | political leader, is a product of his society.
p The word “Peace” is very popular in 2022. But if you personally face an armed person who broke into your
    | house, killed your dog, wants to kill you,
    | then rape your wife and children and then kill them too, you won't need a peact at the first place. You'll
    | need some tools to protect yourself and your loved ones, first aid kit and the phone to call the police and
    | the ambulance. And “peace” can be possible for you only after this person pays for all the pain he or she
    | made to you and goes to jail. Assuming he or she did not succeed in any part of his plan (already not true
    | for Ukraine).
p Unfortunately, it's not possible to put the whole of Russia to jail. But the world can be consistent in
    | helping Ukraine to defend itself and in the sanctions applied to Russia through citizens of Russia,
    | companies of Russia, officials of Russia etc.
p As you can see now, Russia does not want “money” or “territory” from Ukraine. It wants to destroy Ukraine, in
    | the most cruel and barbarian way. Think of it next time you'll read or hear “Peace”.
p Other popular phrases are “No war” and “Stop war”.
    | When everybody knows who's doing the crime, like murder or rape, people usually don't ask to stop “the
    | crime” itself. They want to stop the criminal.
p Instead some major part of the world calls Russia's planet-scale crime “The Ukrainian war”,“The Ukrainian
    | crisis” or “The Ukrainian conflict”. Some minority of people still call things that Russia does to Ukraine
    | since early 2014 “The civil war in Ukraine”.
p Please don't do this. Ukrainians are brave people to fight for their homeland. They want war to be over more
    | than anybody else. And they know that the war can and should be over when every single Ukrainian can safely
    | return back home. While Russia has a chance to fire a new rocket to Ukraine's land, this return cannot
    | happen.
p You can be brave at least by calling the criminal by it's name: Russia. And replace “Stop war” with “Stop
    | Russia” at least in your head.
