doctype html 
title Da Ucrania com 💛💙
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='style.css')
script(defer, type='module' src='magic.js')
main 
    input#tab_pt(checked, type='radio' name='tabs')
    label(for="tab_pt") PT 
    input#tab_en(checked, type='radio' name='tabs')
    label(for="tab_en") EN
    input#tab_ua(checked, type='radio' name='tabs')
    label(for="tab_ua") UA
    section#content_pt
        include includes/content-pt.pug 
    section#content_en
        include includes/content-en.pug         
    section#content_ua
        include includes/content-ua.pug
